*{
    margin: 0px;
}
.page-wrapper{
    background-color: green;
    width: 1325px;
    height: 50px;
}
.page-top{
    background-color: peru;
    width: 1325px;
    height: 500px;
    margin-top: 0px;
}
.page-one{
    background-color: orangered;
    width: 1325px;
    height: 50px;
    margin-top: 0px;
}